<p id="notice"><%= notice %></p>

<h1>Logins</h1>

<%= form_with(model: @login) do |form| %>
    
  <div class="field">
    <%= form.label "Email" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label "Password" %>
    <%= form.password_field :password %>
  </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
<br>

<%= link_to 'Se cadastrar', new_person_path %>
